<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859622971414-ebv1hvh08giq202rj4ciqdqb79s6novg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859622971414-ebv1hvh08giq202rj4ciqdqb79s6novg</string>
	<key>API_KEY</key>
	<string>AIzaSyB_7N36GiJ_0xxhkdItAP0sOVzO4sN4EGA</string>
	<key>GCM_SENDER_ID</key>
	<string>859622971414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>my-app-946fc</string>
	<key>STORAGE_BUCKET</key>
	<string>my-app-946fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859622971414:ios:eba55ca6f781929558bd37</string>
</dict>
</plist>